.footer {
  padding: 20px 0;
  color: #ffffff;
  background-color: rgb(31, 29, 36);

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__list {
    gap: 50px;
    display: flex;
    padding: 56px 0;
    justify-content: space-between;
  }

  &__title {
    white-space: nowrap;
    @include font(700, 18px, 24px, #ffffff, 12px);
  }

  &__about {
    &-list {
      gap: 4px 70px;
      display: flex;
      flex-direction: column;
    }

    &-item a {
      @include font(600, 15px, 17px, rgb(159, 157, 157));
      &:hover {
        color: #ffffff;
      }
      &:active {
        color: #ffffff;
      }
    }
  }

  &__katalog {
    &-list {
      gap: 4px 70px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      margin-bottom: 50px;
    }

    &-item a {
      @include font(600, 15px, 17px, rgb(159, 157, 157));
      &:hover {
        color: #ffffff;
      }
    }
  }

  &__apps {
    &-list {
      gap: 5px 10px;
      display: grid;
      grid-template-columns: repeat(3, 190px);
      grid-template-rows: repeat(2, 50px);
    }

    &-item {
      display: flex;
      cursor: pointer;
      overflow: hidden;
      padding: 8px 16px;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.05);
      &:hover {
        background-color: rgba(82, 176, 56, 0.05);
      }
      &:nth-child(3) {
        padding: 0;
        grid-row: span 2;
        background-color: transparent;
      }
    }

    &-link {
      display: block;
    }
  }

  &__social {
    &-list {
      gap: 10px;
      display: grid;
      grid-template-columns: repeat(2, 50px);
    }

    &-item {
      width: 50px;
      height: 50px;
      display: flex;
      cursor: pointer;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.05);
      &:hover {
        background-color: rgba(82, 176, 56, 0.05);
      }
    }

    &-link {
      display: block;
      max-width: 24px;
      height: 24px;
      img {
        filter: invert(1);
      }
    }
  }
  &__bottom {
    padding: 20px 0;
    border-top: 1px solid rgba(216, 209, 209, 0.653);

    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-item {
      p {
        font-family: system-ui;
        @include font(500, 17px, 20px, rgba(255, 255, 255, 0.5));
      }
    }

    .language__list {
      gap: 15px;
      display: flex;
      align-items: center;
      justify-self: center;
    }

    .language__item {
      a {
        font-family: system-ui;
        @include font(500, 17px, 20px, rgba(255, 255, 255, 0.5));
        &:hover {
          color: #ffffff;
        }
      }
    }
    .footer__konfig {
      gap: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-text {
        font-family: system-ui;
        @include font(500, 17px, 20px, rgba(255, 255, 255, 0.5));
        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}
