.film {
  margin-bottom: 40px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__title {
    @include sliceNoWrap();
    @include font(700, 32px, 30px, #ffffff);
  }

  &-btn {
    cursor: pointer;
    text-align: center;
    padding: 12px 25px;
    border-radius: 10px;
    white-space: nowrap;
    background-color: rgb(34, 33, 38);
    @include font(600, 17px, 30px, #ffffff);
  }

  &-list {
    display: flex;
    margin: 20px 0;
    padding: 20px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &-item {
    width: 228px;
    height: 380px;
  }

  &-link {
    cursor: pointer;
  }

  &-img {
    width: 228px;
    height: 327px;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 10px;
    transform: scale(1);
    transition: ease-in-out 0.5s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-name {
    text-transform: capitalize;
    letter-spacing: 0.02em;
    @include sliceNoWrap();
    @include font(700, 18px, 20px, #ffffff);
  }
  &-desc {
    @include sliceNoWrap();
    @include font(400, 14px, 18px, #52b038);
  }
}
