$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 575px;
$xs: 375px;


$primaryColor:#F8D7A4;
$secondaryColor:#232730;
$globalColor:#A55C30;
$thidrColor:#19314B;
$fourthColor:#C7763E;


// @include lg {

// }

// @include md {
// }

// @include sm {
// }
// @include xs {
// }
